[submodule "Engine/external/glfw"]
	path = Engine/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/external/glm"]
	path = Engine/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/external/assimp"]
	path = Engine/external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "Engine/external/imgui"]
	path = Engine/external/imgui
	url = https://github.com/andrew3467/imgui.git
